<% @api =StockQuote::Stock.new(api_key: 'pk_cf8703fa79304007b7352d1e18ddae15') %>


<h1>Stocks</h1>

<table class ="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
      <th>YTD Change</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>

      <% if stock.user_id == current_user.id %>
    <%begin%>
    <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
      <%rescue %>
        <tr>
          <td><%= link_to "Error", stock %></td>
          <td><%= stock.ticker %></td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>


          <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
          <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
      <% else %>
        <tr>

          <td><%= link_to @ticker.company_name, stock %></td>
          <td><%= @ticker.symbol %></td>
          <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></td>
          <td>$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></td>
          <td><%= number_with_precision(@ticker.ytd_change, :precision => 2, :delimiter => ',') %></td>

          <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
          <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>


      <% end %>

      <% end %>

    <% end %>
  </tbody>
</table> <br />
<td>
  <center>
    Need to do a Total $: they have and insert how much of a stock they have
</center>
</td>

<br>

<%= link_to 'New Stock', new_stock_path %>
