<h1>Stock Market App</h1>
<br />
<p>
  Look up a stock
</p>
<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder:
        "Enter Ticker (Stock) Symbol", size: 50 %>
    <%=submit_tag 'Lookup', class: "btn btn-success" %>
<% end %>
 </br>

<% if @stock %>
    <%= @stock.company_name %> </br>
      Current Price $
    <%= @stock.latest_price %> </br>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>


<% if @error %>
	<%= @error %>
<% end %>
